@import "../../node_modules/react-image-gallery/styles/css/image-gallery.css";

.App {
    text-align: center;
}

.App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 80px;
}

img.ui.image.logo {
    height: 100%;
    display: inline;
}

.App-header {
    background-color: rgba(255, 255, 255, 1);
    height: 142px;
    padding: 20px;
    position: fixed;
    color: #000;
    width: 100%;
    z-index: 1000;
    top: 0;
    border-bottom: 1px groove rgba(34,36,38,.15);
}

.App-header h1 {
    font-family: 'Helvetica Light', 'Oswald', sans-serif;
    font-weight: 200;
    font-size: 2.5em;
    text-transform: uppercase;
    display: inline;
    position: relative;
    top: 16px;
}

.main-container {
    background-color: #fff;
}

.main-menu.menu {
    position: fixed;
}

.ui.pointing.secondary.vertical.full-width.main-menu.menu {
    /*height: 118px;*/
}

.spacer, .menu-spacer {
    height: 300px;
}

.custom-title {
    writing-mode: vertical-rl !important;
    -webkit-writing-mode: vertical-rl !important;
    margin-top: 6px;
    font-size: 2em;
    font-weight: bold;
    height: 400px!important;
}

.ui.container.page-segment {
    margin-bottom: 70px;
}

.active-menu-item {
    background-color:  #F3F315 !important;
    border-right: 2px solid lightgray !important;
}

a {
    color: fuchsia;
}

a:hover {
    color: #f0f;
    text-decoration: underline;
}

.fifteen.wide.computer.thirteen.wide.mobile.thirteen.wide.tablet.column {
    margin: 0 auto;
}

.ui.grid>.column:not(.row) {
    padding-top: 0;
    padding-bottom: 1rem;
}

.ui.inverted.dimmer > .ui.modal {
    -webkit-box-shadow: none;
    box-shadow: none;
}

.ui.modal {
     border-radius: 0px;
}

.ui.modal > .actions {
    border-top: none;
}

.ui.modal > :first-child:not(.icon), .ui.modal > .icon:first-child + * {
    border-top-left-radius: 0px !important;
    border-top-right-radius: 0px !important;
}

.image-gallery-image {
    border: 1px solid lightgray;
}


.ui.large.modal.transition.visible.active {
    height: 100%;
}

.mlnv-modal {
    margin-left: auto;
    margin-right: auto;
}

.landscape {
    text-align: center;
    color: red;
}

.portrait {
    text-align: center;
    width: 40% !important;
    margin: 0 auto;
    margin-left: 1em;
}

.goto-top {
    text-align: center;
    cursor: pointer;
}

.bio {
    display: flex;
}

.bio-text {
    flex: 3;
}

.ui.stackable.vertically.divided.grid, .ui.stackable.divided.grid, .fifteen.wide.computer.thirteen.wide.mobile.thirteen.wide.tablet.column {
    padding: 0 1.5rem;
}

img.ui.circular.image.portrait {
    flex: 1;
    height: 100%;
}

@keyframes roateText {
    0% { transform: skewX(45deg) }
    /*30% { transform: skewX(35deg) }*/
    /*60% { transform: skewX(25deg) }*/
    /*80% { transform: skewX(15deg) }*/
    100% { transform: skewX(0deg) }
}

@keyframes slideHeader {
    0% { margin-left: 100vw; }
    10% { margin-left: 90vw; }
    20% { margin-left: 80vw; }
    30% { margin-left: 70vw; }
    40% { margin-left: 60vw; }
    50% { margin-left: 50vw; }
    60% { margin-left: 40vw; }
    70% { margin-left: 30vw; }
    80% { margin-left: 20vw; }
    90% { margin-left: 10vw; }
    100% { margin-left: 0 }
}


@media only screen and (max-width: 1200px) {
    .portrait {
        text-align: center;
        width: 43% !important;
    }

    .main-container {
        width: 1127px;
    }
}

@media only screen and (max-width: 992px) {


    .ui.container {
        margin-left: 0 !important;
        margin-right: 0 !important;
    }

    .App-header {
        height: 72px;
        padding: 0px;
    }

    .main-menu.menu {
        position: fixed;
        width: 100%;
        margin: 0 auto;
        height: 117px;
    }

    .ui.menu {
        margin: 0;
    }

    .main-menu.menu ul a, .App-header {
        background-color: #fff;
    }

    .main-container {
        padding: 48px 0 0 0;
    }

    .mobile-margins {
        padding: 0 20px;
    }

    .full-width {
        width: 100% !important;
        margin: 0 auto !important;
        background-color: #fff;
        z-index: 1000;
        height: 100%;
    }

    .full-width ul {
        -webkit-padding-start: 0px;
    }

    a.item {
        border-bottom: 1px solid lightgray !important;
    }

    .ui.secondary.vertical.pointing.menu {
        border-right: none;
    }

    .menu-spacer {
        height: 0px;
    }

    .spacer {
        height: 200px;
    }

    .ui.large.modal.transition.visible.active {
        height: 100%;
    }

    .portrait {
        text-align: center;
        width: 55% !important;
    }

    .main-container {
        padding: 86px 0 0;
        width: inherit !important;
    }

    .eleven.wide.column.test {
        width: 90% !important;
        margin: 0 auto;
    }

}



@media only screen and (max-width: 767px) {
    .portrait {
        text-align: center;
        width: 60% !important;
    }

    .ui.large.modal {
        width: 100%;
    }

    .bio {
        display: block;
    }

    img.ui.circular.image.portrait {
        width: 60% !important;
        padding: 10px;
    }

    .main-container {
        padding: 72px 0 0;
    }
}


@media only screen and (max-width: 660px) {
    .portrait {
        text-align: center;
        width: 70% !important;
    }
}

@media only screen and (max-width: 540px) {
    .portrait {
        width: 90% !important;
    }
}

@media only screen and (max-width: 440px) {
    .portrait {
        width: 100% !important;
    }
}

@media only screen and (max-width: 330px) {
    .fifteen.wide.computer.thirteen.wide.mobile.thirteen.wide.tablet.column {
        width: 89.75% !important;
    }
}

