.background-image {
    background-image: url('./grid.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: top left;
}

.App {
    text-align: center;
}

.App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 80px;
}

.App-header {
    background-color: rgba(255, 255, 255, 1);
    height: 62px;
    padding: 20px;
    position: fixed;
    color: #000;
    width: 100%;
    z-index: 1000;
    top: 0;
    border-bottom: 1px groove rgba(34,36,38,.15);
}

.App-header h1 {
    font-family: 'Helvetica Light', 'Oswald', sans-serif;
    font-weight: 200;
    font-size: 1.5em;
    text-transform: uppercase;
}

.main-container {
    background-color: #fff;
}

.main-menu.menu {
    position: fixed;
}

.spacer, .menu-spacer {
    height: 300px;
}

.custom-title {
    writing-mode: vertical-rl !important;
    -webkit-writing-mode: vertical-rl !important;
    margin-top: 6px;
    font-size: 2em;
    font-weight: bold;
    height: 400px!important;
}

.ui.container.page-segment {
    margin-bottom: 70px;
}

 .active {
    background-color:  #F3F315 !important;
}

a {
    color: fuchsia;
}

.fifteen.wide.computer.thirteen.wide.mobile.thirteen.wide.tablet.column {
    margin: 0 auto;
}

@media only screen and (max-width: 992px) {
    .background-image {
        background-image: none;
    }

    .ui.container {
        margin-left: 0 !important;
        margin-right: 0 !important;
    }

    .main-menu.menu {
        position: fixed;
        width: 100%;
        margin: 0 auto;
        height: 130px;
        border-bottom: 2px solid rgba(34, 36, 38, 0.15) !important;
    }

    .main-menu.menu ul a, .App-header {
        background-color: #fff;
    }

    .main-container {
        padding: 48px 0 0 0;
    }

    .mobile-margins {
        padding: 0 20px;
    }

    .full-width {
        width: 100% !important;
        margin: 0 auto !important;
        background-color: #fff;
        z-index: 1000;
    }

    .full-width ul {
        -webkit-padding-start: 0px;
    }

    .menu-spacer {
        height: 0px;
    }

    .spacer {
        height: 200px;
    }

}
